# For HAProxy 1.7

global
	maxconn 50

defaults
	log global 
	timeout connect 5000
	timeout client 50000
	timeout server 50000
	option forwardfor
	option http-server-close

listen stats
    mode http
	bind *:8404  
	stats enable
	stats refresh 30s
	stats show-legends
	stats uri /haproxy?stats
	
frontend myfrontend
	mode http
	bind *:443 ssl crt /etc/ssl/xip.io/xip.io.pem
	default_backend mybackend
		
backend mybackend	
    mode http
	balance roundrobin
	server web1 ngr-app-1:8080 check ssl verify none check
	server web2 ngr-app-2:8080 check ssl verify none check
