
<form action="usuario-editado/{{id}}" method="post">
	
	<p>Nombre:</p>
	<p><textarea name='nombre' rows='1' cols='50' style="resize:none">{{nombre}}</textarea></p>
		
	<p>Contraseña:</p>
	<p><textarea name='contrasenya' rows='1' cols='50' style="resize:none">{{contrasenya}}</textarea></p>
	
	<p>Email:</p>
	<p><textarea name='email' rows='1' cols='50' style="resize:none">{{email}}</textarea></p>
	
	<input type='submit' value='Editar'>
</form>

<a href="/usuarios">Volver a la pestaña de usuarios</a>
{{>piepagina}}
