{{>encabezado}}
<p>Hola! Estás en la pestaña de {{tipo}}</p>
<p>Aquí encontarás {{contenido}}</p>

<table class="default" border="1" cellspacing="2">
	<tr>
		<td>ID</td>
		<td>Nombre</td>
		<td>Contraseña</td>
		<td>Suscripciones</td>
		<td>Email</td>
		<td>Gestion</td>
	</tr>
	{{#usuarios}}
	<tr>
		<td>{{id}}</td>
		<td>{{nombre}}</td>
		<td>{{contrasenya}}</td>
		<td>{{suscripciones}}</td>
		<td>{{email}}</td>
		<td><a href="usuarios/borrar-usuario/{{id}}" onclick="return confirm('¿Estas seguro?')"> Borrar</a> <a href="usuarios/editar-usuario/{{id}}" >/Editar</a></td>
	</tr>
	{{/usuarios}}
</table>
		
{{>piepagina}}
